{% extends "layout.html" %}
{% block content %}
    <style>
    table {
            font-family: arial, Sans-Serif;
            border-collapse: collapse;
            width: 80%;
        }
        td,th{
            border: 1px solid #0c5460;
            padding: 8px;
        }


        {#tr:hover{#}
        {#    background-color: #cfcfcf;#}
        {#    color: black;#}
        {#}#}
    </style>
    <div class="content-section col-md-12">
        <form method="POST" action="" novalidate>
            {{ form.hidden_tag() }}
            <fieldset class="form-group div">
                <legend class="border-bottom mb-3">Base Editors Finding Tool</legend>
                <p class="lead"> How this tool works:</p>
                <p> By inserting a reference and variant SNP, the code first scans the DNA strand for all the possible PAMs that correspond to the base editors that can correct the mutation.
                If such PAMs are found, the code then checks if the specific PAM and BE result in a "clean" correction, i.e. no other nucleotides around the mutation
                are also affected. Finally, we also check the possibility that other nucleotides are being affected yet the final amino acid sequence is not.
                (This is only available if the reading frame is known)</p>
                <p class="lead"> Insert the following: </p>
                <p> Downstream sequence: at least 25 nt <br>
                    Reference Allele: <br>
                    Variant Allele: <br>
                    Upstream sequence: at least 25 nt<br>
                    Legal letters: A,G,T,C,a,g,t,c <br>
                    Reading Frame: 1/2/3 (Optional) </p>
            <legend class="border-bottom mb-4"> Let's get started</legend>
                <div class="row">
                    <div class="col-md-4 ">
                        <div class="form-group">
                            {{ form.rsID.label(class="form-control-label") }}
                        </div>
                    </div>
{#                    <div class="col-md-5 ">#}
{#                        <div class="form-group">#}
{#                            {{ form.rsID(class="form-control", placeholder="rsID") }}#}
{#                        </div>#}
{#                    </div>#}
                    <div class="col-md-5">
                        <div class="input-group-prepend">
                            <input type="text" class="form-control" placeholder="" aria-label="" aria-describedby="basic-addon1">
                            <button class="btn btn-outline-secondary" type="button">Submit</button>

                        </div>
                    </div>

                </div>
                <div class="row pt-3">
                    <div class="col-md-5">
                        <div class="form-group pt-4">
                            {% if form.upSeq.errors %}
                                {{ form.upSeq(class="form-control is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.upSeq.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.upSeq(class="form-control", placeholder="Upstream Sequence") }}
                            {% endif %}
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            {% if form.WT.errors %}
                                {{ form.WT(class="form-control is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.WT.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.WT(class="form-control", placeholder="Reference", maxlength="1" ) }}
                            {% endif %}
                        </div>
                        <div class="form-group">
                            {% if form.mutation.errors %}
                                {{ form.mutation(class="form-control is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.mutation.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.mutation(class="form-control",placeholder="Variant",maxlength="1") }}
                            {% endif %}
                        </div>
                    </div>
                    <div class="col-md-5 ">
                        <div class="form-group pt-4" >
                            {% if form.downSeq.errors %}
                                {{ form.downSeq(class="form-control is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.downSeq.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.downSeq(class="form-control", placeholder="Downstream Sequence") }}
                            {% endif %}
                        </div>
                    </div>
                </div>


                <div class="row pt-3">
                    <div class="col-md-2 mt-3 pr-2">
                       <div class="form-check">
                           {{ form.showReadingFrame(class="form-check-input") }}
                           {{ form.showReadingFrame.label(class="form-check-label") }}
                       </div>
                    </div>
                    <div class="col-md-2 mt-3">
                              {{ form.readingFrame(class="form-control") }}
                    </div>
                </div>

            <br>

            <script>
                function reading(number) {
                    readingFrame = number;
                    console.log(readingFrame)
                }



                function loadSample(){
                    Dseq=document.getElementById("Dseq");
                    Useq=document.getElementById("Useq");
                    Var=document.getElementById("Var");
                    Mut=document.getElementById("Mut");
                    RF=document.getElementById("RF");
                    Dseq.defaultValue="GCGGCCGCCTGGTGCAGTACCGCGG";
                    Useq.defaultValue="GCTGGGCGCGGACATGGAGGACGTG";
                    Var.defaultValue="T";
                    Mut.defaultValue="C";
                    RF.defaultValue="1";

                }

                function clearSample() {
                    Dseq = document.getElementById("Dseq");
                    Useq = document.getElementById("Useq");
                    Var = document.getElementById("Var");
                    Mut = document.getElementById("Mut");
                    RF=document.getElementById("RF");
                    Dseq.defaultValue = "";
                    Useq.defaultValue = "";
                    Var.defaultValue = "";
                    Mut.defaultValue = "";
                    RF.defaultValue='';
                }
                function loadTest1(){
                    Dseq=document.getElementById("Dseq");
                    Useq=document.getElementById("Useq");
                    Var=document.getElementById("Var");
                    Mut=document.getElementById("Mut");
                    RF=document.getElementById("RF");
                    Dseq.defaultValue="GCGGCCGCCTGGTGCAGTACCGCGG";
                    Useq.defaultValue="GCTGGGCGCGGACATGGAGGACGGG";
                    Var.defaultValue="T";
                    Mut.defaultValue="C";
                    RF.defaultValue="1";

                }
                function loadTest2(){
                    Dseq=document.getElementById("Dseq");
                    Useq=document.getElementById("Useq");
                    Var=document.getElementById("Var");
                    Mut=document.getElementById("Mut");
                    RF=document.getElementById("RF");
                    Dseq.defaultValue="GCGGCCGCCTGGTGCAGTACCGCGG";
                    Useq.defaultValue="GCTGGGCGCGCGCATGGAGGACGGG";
                    Var.defaultValue="T";
                    Mut.defaultValue="C";
                    RF.defaultValue="1";

                }
                function loadTest3(){
                    Dseq=document.getElementById("Dseq");
                    Useq=document.getElementById("Useq");
                    Var=document.getElementById("Var");
                    Mut=document.getElementById("Mut");
                    RF=document.getElementById("RF");
                    Dseq.defaultValue="GGGGCCGCCTGGTGCAGGAGCGCGG";
                    Useq.defaultValue="GCTGGGCGCGGACATGGAGGACGGG";
                    Var.defaultValue="C";
                    Mut.defaultValue="T";
                    RF.defaultValue="1";

                }
            </script>

            </fieldset>
            <div class="row">
                <div class="col-md-2">
                    <button type="button" class="btn btn-info mb-2" onclick="loadSample()">Load Sample</button>
                </div>
                <div class="col-md-1 mr-4">
                    <button type="button" class="btn btn-info mb-2" onclick="clearSample()">Clear</button>
                </div>
                <div class="form-group">
                    {{ form.submit(class="btn btn-outline-info") }}
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    <button type="button" class="btn btn-info mb-2" onclick="loadTest1()">Test 1</button>
                </div>
                <div class="col-md-2">
                    <button type="button" class="btn btn-info mb-2" onclick="loadTest2()">Test 2</button>
                </div>
                <div class="col-md-2">
                    <button type="button" class="btn btn-info mb-2" onclick="loadTest3()">Test 3: C to T</button>
                </div>
            </div>

            <div class="form-group">
                <label for="exampleFormControlFile1">Alternatively,
                you may upload multiple SNPs in a CSV file, on  <a href="/upload">this page.</a></label>
            </div>

        </form>
    </div>



    <div class="content-section col-md-12">
        <legend class="border-bottom mb-4">Results</legend>
{#        {% if result=={},{},'','','','',{} %} This SNP cannot be fixed with our tool! Check out the instructions above to see which SNPs are legal#}
        {% if result %}
            <p> Original Ref. Sequence: {{ result[2]|safe}}  </p>
            <p> Original Var. Sequence: {{ result[3]|safe}}  </p>
            <div class="alert alert-primary wrapit">
                <div class="content-section col-md-12">
                    The following base editors will correct this variance (and no other bases around it): <br>
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col"> Base Editor</th>
                                <th scope="col"> Corrected Sequence </th>
                                <th scope="col"> PAM </th>
                            </tr>
                        </thead>
                    <tbody id="cleanTable">
                    {% for key in result[0] %}
                        {% if result[0][key][5]!=[]%}
                            <tr class="breakrow">
                                <th > {{ key}} </th><td> Click to show/hide detailed result </td><td>{{ result[0][key][4] |safe}}</td>
                            </tr>
                        {% endif %}
                        {% for loc in result[0][key][5] %}
                            <tr class="datarow">
                            {% if result[0][key][6]==False %}
                                <td>{% if loop.length>1 %} Option {{loop.index}} {% endif %} </td><td>  Original: <br>{{ result[0][key][0][loc] |safe}} <br>
                                Corrected:<br>{{ result[0][key][1][loc] | safe }}<td>{{ result[0][key][4] |safe}}</td>
                                {% else %}

                                <td> {% if loop.length>1 %} Option {{loop.index}} {% endif %}</td><td>  Original: <br>{{ result[0][key][0][loc] |safe}} <br>
                                    Rev.Comp:<br>{{ result[0][key][1][loc] | safe }}
                                    <br> Corrected Rev.Comp:<br>{{ result[0][key][2][loc]|safe }}<br>Final:<br> {{ result[0][key][3][loc]|safe }}</td>
                                <td> {{ result[0][key][4] |safe}} </td>
                            {% endif %}
                            </tr>

                        {% endfor %}
                    {% endfor %}

                    </tbody>
                    </table>

                </div>

                {% if RF!=0 %}
                    <div class="content-section col-md-12">
                        The following base editors will correctly edit the SNP. However it may also edit other flanking nucleotides. Such changes are synonymous substitutions and the resulted amino acid sequence will probably be as good as the reference sequence: <br>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col" > Base Editor</th>
                                    <th scope="col"> Corrected Sequence </th>
                                    <th scope="col"> PAM</th>
                                </tr>
                            </thead>
                        <tbody id="quietTable">
                        {% for key in result[1] %}
                            {% if result[1][key][5]!=[]%}
                                <tr class="breakrow">
                                    <th > {{ key}} </th><td> Click to show/hide detailed result </td><td>{{ result[1][key][4] |safe}}</td>
                                </tr>
                            {% endif %}
                        {% for loc in result[1][key][5] %}
                            <tr class="datarow">
                            {% if result[1][key][6]==False %}
                                <td>{% if loop.length>1 %} Option {{loop.index}} {% endif %} </td><td>  Original: <br>{{ result[1][key][0][loc] |safe}} <br>
                                Corrected:<br>{{ result[1][key][1][loc] | safe }}
                                {% else %}

                                <td> {% if loop.length!=1 %} Option {{loop.index}} {% endif %}</td><td>  Original: <br>{{ result[1][key][0][loc] |safe}} <br>
                                    Rev.Comp:<br>{{ result[1][key][1][loc] | safe }}
                                    <br> Corrected Rev.Comp:<br>{{ result[1][key][2][loc]|safe }}<br>Final:<br> {{ result[1][key][3][loc]|safe }}</td>
                                <td> {{ result[1][key][4] |safe}} </td>
                            {% endif %}
                            </tr>

                        {% endfor %}
                    {% endfor %}

                        </tbody>
                        </table>
                    </div>
{#                {% elif %}#}
{#                    <p> No reading frame chosen </p>#}
                {% endif %}

            </div>
        {% endif %}
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script>
        $(document).ready(function() {
            $(".breakrow").click(function () {
                $(this).nextUntil("tr.breakrow").slideToggle(200); });

        });
    </script>
{#    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>#}

{% endblock content %}